.controls {
    position: absolute;
    top: 75px; /* Increased top margin for spacing */
    right: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    z-index: 10;
  }
  
  .controls label {
    display: block;
    margin-bottom: 15px;
    color: #333;
  }
  
  .controls input[type="range"] {
    width: 100%;
  }
  
  .controls input[type="checkbox"] {
    margin-left: 5px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
  }
  
  
  canvas {
    display: block;
    margin: 50px auto;
    background-color: #ffc107;
    border-radius: 10px;
  }

  .button-container button {
    background-color: #c48f1c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-container button:hover {
    background-color: #b49017;
  }
  
  .button-container button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }